#nav{
    border: 2px solid rgb(205, 83, 83);
    height: 45px;
    width: 100%;
    background-color: black;
    color: white;
    
   
}

span{
    margin: 20px;
    font-size: 20px;
    cursor: pointer;
}
span:hover{
    text-decoration: underline;


}